* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(17, 1, 1);
    color: rgb(240, 225, 209);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 23px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: greenyellow;
}

#cabecera{
    background-color: rgb(31, 2, 2);
    color: wheat;
    font-size: 32px;
    width: 100vw;
    display: flex;
    justify-content: start;
}
#cabecera img {
    margin: 7px;
}

.pnuevo {
    color: coral;
}