* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(17, 1, 1);
    color: rgb(240, 225, 209);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 23px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: greenyellow;
}

#cabecera{
    background-color: rgb(31, 2, 2);
    color: wheat;
    font-size: 32px;
    width: 100vw;
    display: flex;
    justify-content: start;
}
#cabecera img {
    margin: 7px;
}

.pnuevo {
    color: coral;
}

footer {
    width: 100%;
    height: 50px;

    /*con esto aseguramos que el footer siempre este abajo en la pagina*/
    position: absolute;
    bottom: 0;
    /***********************************************************************/

    /*se genera una cuadricula con diplay grid y con template colum se fracciona en dos en este caso*/
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    font-size: 13px;
    background-color: #000;
    border-top: 1px solid #e4e4e4;
}

/* footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left {
    justify-content: left;
}
footer .footer-right {
    justify-content: right;
}
footer ul li a {
    margin: 10px;
    color: #5f6368;
} */

.pcolor {
    color: aqua;
}